body {
  background-color: rgb(190, 254, 254);
  padding: 30px;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
  color: blue;
}

.subtitulo-principal {
  color: green;
}

.imagen-centrada {
  margin: auto;
  display: block;
  border-radius: 10px;
  height: 300px;
}